* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
.wrapper {
  width: 1100px;
  margin: auto;
  position: relative;
  background: #63a4ee;
}
.logo {
  font-size: 50px;
  font-weight: 800;
  float: left;
  font-family: courier;
  color: #ffffff;
}
.menu {
  float: right;
  background: #63a4ee;
}
nav {
  width: 100%;
  margin: auto;
  display: flex;
  line-height: 80px;
  position: sticky;
  top: 0;
  background: #63a4ee;
  z-index: 1;
  border-bottom: 1px solid #364f6b;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav ul li {
  float: left;
}
nav ul li a {
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  padding: 0px 16px;
  text-decoration: none;
}
nav ul li a:hover {
  text-decoration: underline;
}
a.tombol {
  background: #3f72af;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
a.tombol:hover {
  background: rgb(20, 214, 20);
}
tr {
  text-align: left;
}
tr.Head {
  text-align: center;
  background: #098edb;
}
th {
  padding-left: 0.2rem;
  line-height: 2rem;
}
table {
  margin-top: 4rem;
  margin-bottom: 4rem;
  background: rgb(255, 255, 255, 0.5);
}
h1 {
  text-align: center;
  font-family: "comic sans ms";
  padding-top: 3rem;
  font-size: 40px;
  color: #364f6b;
}
footer {
  border-top: 1px solid #364f6b;
  width: 100%;
  margin: auto;
  line-height: 50px;
  position: sticky;
  background: #63a4ee;
  text-align: center;
  font-family: "comic sans ms";
  font-weight: bold;
  color: #ffffff;
}
